body{
  background: url(./Assets/BG.jpg) no-repeat center/cover
}

#container{
width: 800px;
display: flex;
flex-direction: column;
border-radius: 24px;
padding: 24px;
background-color: #F0E8C2;
margin: 48px auto;
}

img{
 border-radius: 16px;
}